/**
 * Removal of various minor annoyances.
 */

/****** DM Channels List ******/

nav[class^="privateChannels_"] div[class^="searchBar_"] {
	display: none;
}

div[data-list-id^="private-channels"] {
	margin-top: var(--spacing-12);

	// Nitro/Shop buttons towards the top
	li:has(a[data-list-item-id$="nitro"]),
	li:has(a[data-list-item-id$="shop"]),
	{
		display: none;
	}
}


/****** Channels List ******/

// Hide boosts level bar
div[data-list-item-id^="channels___boosts"] {
	display: none;
}

// Remove "Create Invite" button from channel item
a[data-list-item-id^="channels__"] div[class^="children_"] {
	display: none;
}


/****** Guilds List ******/

// Remove discover servers item from guilds list
ul[data-list-id="guildsnav"] div[class^="listItem_"]:has(foreignObject > div[data-list-item-id="guildsnav___guild-discover-button"]) {
	display: none;
}

/****** User Context Menus ******/

// Remove "Invite to server"
#user-context-invite-to-server {
	display: none;
}

#user-profile-overflow-menu {
	div > [class="separator_c1e9c4"] {
		display: none;
	}

	#user-profile-overflow-menu-invite-to-server {
		display: none;
	}
}

// Remove "Add Note"
#user-context-note {
	display: none;
}


/****** App Bar / Channel Toolbar ******/

// Remove "Help" button from app title
div[class^="trailing_"] a:has(path[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm-.28-16c-.98 0-1.81.47-2.27 1.14A1 1 0 1 1 7.8 7.01 4.73 4.73 0 0 1 11.72 5c2.5 0 4.65 1.88 4.65 4.38 0 2.1-1.54 3.77-3.52 4.24l.14 1a1 1 0 0 1-1.98.27l-.28-2a1 1 0 0 1 .99-1.14c1.54 0 2.65-1.14 2.65-2.38 0-1.23-1.1-2.37-2.65-2.37ZM13 17.88a1.13 1.13 0 1 1-2.25 0 1.13 1.13 0 0 1 2.25 0Z"]) {
	display: none;
}

// Remove other buttons from chat toolbar
div[class^="toolbar_"] {
	// "Show Member List"
	div[class^="iconWrapper_"]:has(path[d="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM18.44 17.27c.15.43.54.73 1 .73h1.06c.83 0 1.5-.67 1.5-1.5a7.5 7.5 0 0 0-6.5-7.43c-.55-.08-.99.38-1.1.92-.06.3-.15.6-.26.87-.23.58-.05 1.3.47 1.63a9.53 9.53 0 0 1 3.83 4.78ZM12.5 9a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM2 20.5a7.5 7.5 0 0 1 15 0c0 .83-.67 1.5-1.5 1.5a.2.2 0 0 1-.2-.16c-.2-.96-.56-1.87-.88-2.54-.1-.23-.42-.15-.42.1v2.1a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z"]),
		// "Show User Profile"
	div[class^="iconWrapper_"]:has(path[d="M24 19a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"]),
	{
		display: none;
	}
}


/****** Chat ******/

// No, I don't want to make a thread from a chain of more than 3 replies
div[class*="threadSuggestionBar_"] {
	display: none;
}

// Remove gift button from chat bar
div[class^="channelTextArea_"] div[class^="buttons_"] {
	// Send gift button
	& > button:has(path[d=" M-7,10 C-8.104999542236328,10 -9,9.104999542236328 -9,8 C-9,8 -9,2.5 -9,2.5 C-9,2.2239999771118164 -8.776000022888184,2 -8.5,2 C-8.5,2 -1.5,2 -1.5,2 C-1.2239999771118164,2 -1,2.2239999771118164 -1,2.5 C-1,2.5 -1,9.5 -1,9.5 C-1,9.776000022888184 -1.2239999771118164,10 -1.5,10 C-1.5,10 -7,10 -7,10z M1,9.5 C1,9.776000022888184 1.2239999771118164,10 1.5,10 C1.5,10 7,10 7,10 C8.104999542236328,10 9,9.104999542236328 9,8 C9,8 9,2.5 9,2.5 C9,2.2239999771118164 8.776000022888184,2 8.5,2 C8.5,2 1.5,2 1.5,2 C1.2239999771118164,2 1,2.2239999771118164 1,2.5 C1,2.5 1,9.5 1,9.5z"]),
	{
		display: none;
	}
}

/****** Profile customization settings ******/

#profile-customization-tab {
	& > div[class^="tabBar_"] {
		margin-bottom: 25px;
	}

	// Hide nitro upselling
	& > div[class^="container_"],
	div[class*="tryItOutSection_"],
	div[class^="upsellOverlayContainer_"],
	{
		display: none;
	}
}

// Hide more nitro upselling
div[class^="upsellContainer_"], div[class^="premiumUpsellButton_"] {
	display: none;
}
