/**
 * Theming for the window app bar / top area.
 */

// Make sure scrollbar doesn't overlap with window buttons
div[class^="contentRegionScroller_"] {
	--custom-app-top-bar-height: 50px;
}

// Add padding to guilds list to account for title bar removal
ul[data-list-id="guildsnav"] div[class*="scroller_"] div[class^="tutorialContainer_"] {
	margin-top: 1rem;
}

// Remove spacing from old title bar
div[class^="container_"] > div[class^="base_"] {
	grid-template-rows: [top] 0 [titlebarend] min-content [noticeend] 1fr [end];
}

// Move search bar/buttons left to make space for window buttons moved down
div[class^="chat_"] section[class*="container_"] {
	border: none;
	overflow: hidden !important;
	background-color: var(--dracula-secondary);

	// Spacing for the buttons that moved down as an overlay
	// Just padding-right can't be used because otherwise disabling window dragging
	// doesn't work. But the ::after pseudo-element does work.
	div[class^="toolbar_"]::after {
		content: "";
		width: 160px;
		height: 36px;
		-webkit-app-region: no-drag;
	}

	div[class^="search_"] {
		order: -1;
	}
}

// Move down window buttons & inbox
div[data-windows="true"][class^="bar_"] {
	gap: 2px;
	width: max-content;
	z-index: 1000 !important;
	position: absolute;
	background-color: var(--background-tertiary);
	border-radius: var(--radius-xs);
	top: 6px;
	right: 6px;
	left: unset;
	padding: 0;
	overflow: hidden;

	// Adjust sizing between buttons
	& > div[class^="trailing_"] {
		gap: 0;
	}

	// Hide old title bar
	& > div[class^="title_"] {
		display: none;
	}
}

// Make new top app bar draggable
section[class^="title_"] {
	-webkit-app-region: drag;

	div[class^="topic_"] {
		-webkit-app-region: no-drag !important;
	}
}

// Better channel title/topic
section[class^="title_"] div[class^="children_"] {
	& > div[class^="titleWrapper_"] {
		padding-right: 0;
	}

	& > svg[class^="dot_"] {
		flex: 0 0 auto;
		color: whitesmoke;
		opacity: 0.3;
	}

	&::after {
		display: none;
	}
}

// Fix searchbar
div[class^="searchBar_"] {
	border: none !important;
	height: 36px !important;
	align-items: center;
	padding: 2px 4px !important;

	.DraftEditor-root {
		position: unset;
		display: flex;
		align-items: center;
	}

	.DraftEditor-editorContainer {
		flex-grow: 1;
	}

	.public-DraftEditorPlaceholder-root {
		padding: 0 !important;
		margin-left: var(--spacing-4);
	}

	.public-DraftEditor-content > div,
	.public-DraftEditor-content > div > div,
	.public-DraftEditor-content > div > div > div {
		height: inherit;
	}

	.public-DraftStyleDefault-block {
		place-content: center;
	}

	// Search filter badge background
	--background-surface-highest: var(--dracula-accent-alpha-15);

	// Search filter pair left hand side
	div[class*="searchFilter_"] {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	// Search filter pair right hand side
	div[class*="searchAnswer_"] {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		padding-left: 0;
	}
}

// Remove left indicator from searchbar autocomplete
li[aria-selected="true"][class^="option_"] {
	box-shadow: none;
}
