/**
 * Theming for the channel list & private channels (DMs) list.
 */

div[class^="sidebarList_"] {
	// Remove borders
	border: none !important;
	border-radius: 0 !important;

	// Remove channel list header borders
	header[class^="header_"],
	div[class^="headerGlass_"],
	{
		border: none !important;
	}

	// Floating mentions channels list indicator
	div[class*="mentionsBar_"] {
		background-color: var(--dracula-accent);
		box-shadow: 0 4px 20px var(--opacity-black-56);
	}

	// Floating unread channels list indicator
	div[class^="bar_"]:has(svg[class^="unreadIcon_"]) {
		--interactive-normal: var(--white-530); // text color

		background-color: var(--dracula-accent);
		box-shadow: 0 4px 20px var(--opacity-black-56);
	}

	// Remove unnecessary padding at the bottom
	&::after {
		display: none;
	}
}

// Remove random excess padding
div[class^="sidebar_"]::after {
	display: none;
}

/****** DM Items ******/

%custom-unread-dm-indicator {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 2px;
	z-index: 999;
}

div[data-list-id^="private-channels-"] > ul {
	padding-right: var(--spacing-4);

	& > li {
		border-radius: var(--radius-sm);
	}

	& > li > div > a {
		padding-left: 12px;
	}

	// Original channel unread indicator
	div[class^="unreadPill_"] {
		display: none;
	}

	// Unread DM items
	// Custom unread indicator
	& > li:has(> div[class^="unreadPill_"]) > div[class^="interactive_"]::before {
		background-color: var(--white-600);
		@extend %custom-unread-dm-indicator;
	}

	// Selected DM items
	& > li:has(> div[class*="selected_"]) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		& > div {
			background: var(--bg-overlay-selected, var(--background-modifier-selected));
		}

		// Add our own channel indicator
		& > div::before {
			background-color: var(--dracula-accent) !important;
			@extend %custom-unread-dm-indicator;
		}
	}
}

/****** Channel Items ******/

%custom-unread-channel-indicator {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 2px;
	left: var(--space-xs);
}

#channels > ul {
	padding-right: var(--spacing-4);

	--text-primary: var(--white-530);
	--icon-primary: var(--white-530);

	// Original channel unread indicator
	div[class^="unread_"] {
		display: none;
	}

	// Unread channel item
	& > li:has(> div[class*="modeUnreadImportant_"]) {
		// Add our own channel indicator
		&::before {
			background-color: var(--white-600);
			@extend %custom-unread-channel-indicator;
		}

		a {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	// Selected channel item
	& > li[class*="selected_"] {
		// Add our own channel indicator
		&::before {
			background-color: var(--dracula-accent);
			@extend %custom-unread-channel-indicator;
		}

		a { // stylelint-disable-line no-descending-specificity
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		svg {
			--icon-primary: var(--dracula-accent);
		}
	}

	// Remove padding between channel items
	& > li > div {
		padding-top: 0;
		padding-bottom: 0;
	}

	// Better internal padding for channel items
	a[data-list-item-id^="channels_"],
	div[data-list-item-id^="channels_"][class^="link_"] {
		padding-top: 5.25px;
		padding-bottom: 5.25px;
		padding-left: 12px;
	}

	// Better margin for category items and thread items
	div[data-list-item-id^="channels_"][class^="mainContent_"] {
		padding-bottom: 0.7rem;
	}
}
