/**
 * Theming for the channel list & private channels (DMs) list.
 */

// Better borders
#channels {
	border-radius: 0;
}

// Fix borders
div[class^="sidebarList_"] {
	border: none !important;
	border-radius: 0 !important;

	header[class^="header_"],
	div[class^="headerGlass_"],
	{
		border: none !important;
	}
}

div[class^="sidebar_"]::after {
	display: none;
}

// Fix banner padding
div[class^="sidebarList_"] div[class^="scroller_"] div[style="height: 12px;"] {
	display: none;
}

// Less rounding on channel items
li[class^="channel_"] {
	border-radius: var(--radius-xs);
}
