@keyframes unread-messages-bar-enter {
	0% {
		top: -3em;
	}

	100% {
		top: 0;
	}
}

// Nicer unread messages bar
div[class^="newMessagesBar"] {
	margin-top: 0.5em;
	height: 2em;
	border-radius: 0.5em;
	min-width: 70%;
	justify-self: center;
	background-color: var(--dracula-accent-alpha-90);
	box-shadow: 0 4px 20px var(--opacity-black-56);
	animation-name: unread-messages-bar-enter;
	animation-duration: 150ms;
	animation-fill-mode: backwards;
}

// Nicer "You are viewing older messages" bar
div[class^="jumpToPresentBar_"] {
	background-color: var(--dracula-tertiary) !important;
	box-shadow: var(--shadow-high) !important;
}

// Better padding between chat bar and bottom message
div[class^="scrollerSpacer_"] {
	height: var(--space-16) !important;
}

// Nicer chat bar
div[class^="channelTextArea_"] {
	border: none;
	border-radius: 50px;
	margin-left: var(--spacing-16);
	margin-right: var(--spacing-16);
	margin-bottom: var(--spacing-16);

	div[class^="buttons_"] {
		gap: 0 !important;
	}

	div[class*="buttonContainer_"] {
		padding: 0 2px;
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}
	}

	// FIXME: scrollbar sized improperly and moves outside the textfield
	div[class^="scrollableContainer_"] {
		// Round the text field
		border-radius: 50px;
	}

	// Move character count inwards to account for rounding
	div[class^="characterCount_"] {
		bottom: 24px;
		right: 28px;
	}

	div[class^="inner_"] {
		--custom-channel-textarea-text-area-max-height: 50px;
		--custom-channel-textarea-text-area-height: var(--custom-channel-textarea-text-area-max-height);
	}

	// Remove nitro upsell
	div[class*="upsell_"] {
		display: none;
	}
}

// Fix chat padding because of new chat input padding
div[class^="messagesWrapper_"] {
	margin-bottom: 4px;
}

// Better reactions container
div[class*="reactionMe_"] {
	border: 0.075rem solid transparent;
}

// Theme unread messages divider
div[class^="divider_"] {
	--divider-color: var(--dracula-accent);

	& > span {
		color: var(--white-530);
	}
}
