/****** Chat Layout ******/

main[class^="chatContent_"] > div[class^="messagesWrapper_"] {
	// Fix chat padding because of new chat input padding
	margin-bottom: 4px;

	// Make chat scrollbar like the others
	& > div[class^="scroller_"]::-webkit-scrollbar {
		width: 12px;
	}
}

// Rounding around chat area
main[class^="chatContent_"] {
	// Because chatContent provides the background to the chat area and text field,
	// I had to improvise and use a pseudo-element to provide a small background overlay
	// and then override the background again with the actual messagesWrapper that is rounded
	&::before {
		content: "";
		position: fixed;
		background-color: var(--dracula-secondary);
		width: 100%;
		height: 20px;
	}

	& > div[class^="messagesWrapper_"] {
		border-top-left-radius: var(--radius-md);
		border-top-right-radius: var(--radius-md);
		background-color: var(--bg-overlay-chat, var(--background-base-lower));

		// Extra padding to account for custom typing users bar
		& > div[class^="jumpToPresentBar_"] {
			bottom: 20px;
		}
	}
}

/****** Top Unread Messages Bar ******/

@keyframes unread-messages-bar-enter {
	0% {
		top: -3em;
	}

	100% {
		top: 0;
	}
}

// Nicer unread messages bar
div[class^="newMessagesBar"] {
	margin-top: 0.5em;
	height: 2em;
	border-radius: 0.5em;
	min-width: 70%;
	justify-self: center;
	background-color: var(--dracula-accent-alpha-90);
	box-shadow: 0 2px 12px var(--opacity-black-56);

	.full-motion & {
		animation-name: unread-messages-bar-enter;
		animation-duration: 150ms;
		animation-fill-mode: backwards;
	}
}

// Nicer "You are viewing older messages" bar
div[class^="jumpToPresentBar_"] {
	background-color: var(--dracula-tertiary) !important;
	box-shadow: 0 2px 12px var(--opacity-black-56) !important;
}


/****** Chat Input Typing Users ******/

@keyframes typing-bar-enter {
	0% {
		top: 0;
	}

	100% {
		top: -20px;
	}
}

// Chat bar overlay the typing bar
div[class^="channelTextArea_"] {
	z-index: 1;
	border: none;
}

// Align typing users bar above chat bar
form[class*="formWithLoadedChatInput_"] div[class^="typing_"] {
	top: -20px; // Move above chat bar
	z-index: 0; // Under the chat bar
	margin-left: var(--spacing-8);
	margin-right: var(--spacing-8);
	height: min-content;
	border-radius: var(--radius-sm) var(--radius-sm) 0 0;
	background-color: var(--chat-background-default);
	padding: 4px 8px;
	transition: none;
	box-shadow: 0 -2px 6px var(--opacity-black-16);

	.full-motion & {
		animation-name: typing-bar-enter;
		animation-duration: 150ms;
		animation-fill-mode: backwards;
	}
}

// Un-round chat input when users typing
form[class*="formWithLoadedChatInput_"]:has(> div[class^="typing_"]) > div > div[class^="channelBottomBarArea_"] > div[class^="channelTextArea_"] {
	border-radius: 0 0 8px 8px;
}

// Fix end of chat list padding to make room for typing users
div[class^="scrollerSpacer_"] {
	height: 30px !important;
}


/****** Chat Input ******/

// Nicer chat bar
div[class^="channelBottomBarArea_"] > div[class^="channelTextArea_"] {
	margin-left: var(--spacing-16);
	margin-right: var(--spacing-16);
	margin-bottom: var(--spacing-12);

	// Round the text field
	border-radius: 50px;
	background-color: var(--dracula-primary) !important;

	// Un-round the text field when replying
	&:has(> div[class^="stackedBars_"]) {
		border-radius: 0 0 8px 8px;
	}

	// Un-round when have file attachment
	&:has(> div > ul[data-list-id="attachments"]) {
		border-radius: 8px;
	}

	// Un-round the text field when multi-line chat input
	&:has(> div[class^="scrollableContainer_"] > div > div[class^="textArea_"]:not([style="height: 50px;"])) {
		border-radius: 8px;
	}

	// Round the text field
	& > div[class^="scrollableContainer_"] {
		border-radius: inherit;
	}

	// Smaller buttons padding
	div[class^="buttons_"] {
		gap: 2px !important;
	}

	div[class*="buttonContainer_"] {
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}
	}

	// Reply bar
	& > div[class^="stackedBars_"] {
		border: none !important;
	}

	// Move character count inwards to account for rounding
	div[class^="characterCount_"] {
		bottom: 24px;
		right: 28px;
	}

	div[class^="inner_"] {
		--custom-channel-textarea-text-area-max-height: 50px;
		--custom-channel-textarea-text-area-height: var(--custom-channel-textarea-text-area-max-height);
	}

	// Remove nitro upsell
	div[class*="upsell_"] {
		display: none;
	}

	div[class^="replyBar_"] {
		background-color: var(--dracula-tertiary);
		padding-right: 3px; // Align cancel button with chat action buttons
	}

	// Attachments list
	ul[data-list-id="attachments"] {
		background-color: unset;
	}
}

// Fix scroll color of chat input
div[class^="channelTextArea_"] > div[class^="scrollableContainer_"]::-webkit-scrollbar-thumb {
	background-color: hsl(var(--primary-400-hsl) / 60%);
}

// Fix padding between buttons and edit text on existing messages
div:not([class]) > div[class^="channelTextArea_"] > div[class^="scrollableContainer_"] > div[class^="inner_"] {
	gap: 10px;
}


/****** Chat Items ******/

// Better reactions container
div[class*="reactionMe_"] {
	border: 0.075rem solid transparent;
}

// Theme unread messages divider
div[class^="divider_"] {
	--divider-color: var(--dracula-accent);

	& > span {
		color: var(--white-530);
	}
}

// Embeds
article[class^="embedWrapper_"] {
	padding-left: var(--spacing-8);
	padding-top: var(--spacing-4);
	border-top: none !important;
	border-bottom: none !important;
	border-right: none !important;
}

// Slightly better padding between message header and content
h3[aria-labelledby^="message-username-"] {
	padding-bottom: 0.0625rem;
}

div[id^="message-accessories-"] {
	// Less rounding on message media
	div[class^="visualMediaItemContainer_"],
	div[class^="visualMediaItemContainer_"] > div,
	div[class*="mosaicItemMediaMosaic_"],
	div[class*="mosaicItemContent_"],
	div[class*="wrapperMediaMosaic_"],
	div[class*="spoilerContainer_"],
	video,
	{
		border-radius: var(--radius-xs);
	}
}

// Bot tag on messages
span[class*="botTagRegular_"] {
	background-color: var(--bg-mod-strong);
	padding: 0.05rem 0.28rem !important;
	margin-left: 0.5rem;
}

// File upload message item
div[class^="file_"] {
	border: none;
}


/****** Autocomplete ******/

// Autocomplete popup
div[class^="autocomplete_"] {
	padding-top: 2px;
	padding-left: 8px;
	box-shadow: var(--shadow-medium);
}


/****** Search Sidebar ******/

// Larger search sidebar
section[class^="searchResultsWrap_"] {
	width: 550px;
}

div[class^="searchResult_"] {
	border: none !important;
	padding: 6px 2px;
}

div[class^="channelNameContainer_"] {
	margin-left: 8px;
}


/****** Reaction Picker ******/

#emoji-picker-tab-panel {
	// Fix background colors
	& > div[class*="categoryList_"], div[class^="inspector_"] {
		background-color: var(--dracula-secondary);
	}

	#emoji-picker-grid, #emoji-picker-grid div[class*="header_"] {
		background-color: var(--dracula-primary);
	}

	#emoji-picker-grid {
		border-top-left-radius: var(--radius-md);
		border-bottom-left-radius: var(--radius-md);
	}

	& > div[class^="emojiPicker_"] > div[class^="header_"] {
		padding: 0 10px 12px 16px;
		border: none;
	}

	// Remove "Popular"/"Newly Added" emoji badge
	div[class*="badgeLabel_"] {
		display: none;
	}

	// Remove newly added container around emojis in picker
	div[class^="newlyAddedHighlight_"] {
		border: none;
	}

	div[class^="newlyAddedBadge_"] {
		display: none;
	}
}
