#vc-friendcount {
	margin-bottom: var(--spacing-8);
}

// Better spacing between unread DMs and guilds
div[class^="guildSeparator_"] {
	margin-top: var(--spacing-12);
	margin-bottom: var(--spacing-12);
}
