/**
 * Theming for the guilds list.
 */

// Accent color on Discord logo and guild folders
div[data-list-item-id="guildsnav___home"] {
	& > div {
		color: var(--dracula-accent-light);
		background-color: var(--dracula-primary) !important;
	}

	&:hover > div, &[class*="selected_"] > div {
		color: var(--dracula-accent-light) !important;
		background-color: var(--dracula-primary-light) !important;
	}
}

// Better "scroll" unread guilds list indicator
ul[data-list-id="guildsnav"] {
	& > div[class^="unreadMentionsIndicatorTop_"] > div {
		box-shadow: 0 2px 12px var(--opacity-black-76);
	}

	& > div[class^="unreadMentionsIndicatorBottom_"] > div {
		box-shadow: 0 -2px 12px var(--opacity-black-76);
	}

	div[class*="unreadMentionsBar_"] {
		background-color: var(--dracula-accent);
	}
}

// Accent color on guild unread indicators
ul[data-list-id="guildsnav"] div[class^="pill_"] > span {
	background-color: var(--dracula-accent-light);
}

div[data-list-item-id^="guildsnav__"] > div[class^="folderIconWrapper_"] svg {
	color: var(--dracula-accent) !important;
}

// Vencord plugin fix
#vc-friendcount {
	margin-bottom: var(--spacing-8);
}

// Better spacing between unread DMs and guilds
div[class^="guildSeparator_"] {
	margin-top: var(--spacing-12);
	margin-bottom: var(--spacing-12);
}
