/****** Inbox popout ******/

// Remove border from messages
div[class^="layerContainer_"] div[class^="messageContainer_"] {
	border: none;
}

// Better padding for Friend Requests tab
div[data-list-id="for-you"] {
	margin-top: var(--spacing-16);
	margin-bottom: var(--spacing-16);
}

div[class*="recentMentionsPopout_"] {
	// Make it larger
	min-height: 90vh;
	max-height: 100vh !important;
	min-width: 600px;

	// Fix avatars/guild icons rounding
	div[class*="guildIcon_"] {
		border-radius: 100%;
		background-color: transparent;
	}

	// Better header padding
	div[class^="channelHeader_"] {
		padding-left: 20px;
	}
}

/****** Channel topic popout ******/

div[class^="modal_"] {
	border: none !important;
	border-radius: 8px !important;
	padding-bottom: 8px;
}

/****** DM Channel user sidebar ******/

// Mutual server icons
div[class*="listAvatar_"] {
	border-radius: 100%;
}

/****** Typing dots indicators ******/

@keyframes typing-dots-cycle {
	0% {
		color: rgba(245 245 245 / 5%);
	}

	30% {
		color: rgba(245 245 245 / 10%);
	}

	50% {
		color: rgba(245 245 245 / 70%);
	}

	70% {
		color: rgba(245 245 245 / 20%);
	}

	100% {
		color: rgba(245 245 245 / 5%);
	}
}

// Animate the typing dots
.full-motion svg[class*="dots_"] > g {
	& > circle {
		animation: typing-dots-cycle 4s ease infinite;
	}

	& > circle:nth-child(2) {
		animation-delay: 200ms;
	}

	& > circle:nth-child(3) {
		animation-delay: 400ms;
	}
}

// Better spacing
div[class^="typingDots_"] {
	gap: var(--spacing-4);
}

/****** Context Menus ******/

div[class^="menu_"], div[class^="submenu_"] {
	--header-primary: var(--white-560); // text color

	background-color: var(--dracula-tertiary);
	box-shadow: var(--shadow-low);
	border-radius: 8px;
	border: none;

	& > div {
		padding: 8px 10px;
	}

	// Fix emoji sizing
	div[class^="customItem_"] > div {
		border-radius: 100px !important;

		img {
			height: 22px;
			width: 22px;
			image-rendering: smooth;
		}
	}
}

/****** Other Popouts ******/

div[class^="root_"],
div[class^="container_"],
div[class^="tooltip_"],
div[class^="scroller_"],
section,
{
	border: none !important;
}
