/**
 * Theming for user profiles (compact and expanded).
 */

/****** Current User Bar ******/

// No persistent red background glow on mute/deafen buttons
div[class^="buttons_"] {
	button[class*="redGlow_"] {
		background-color: unset !important;
	}

	button:hover {
		background-color: var(--background-modifier-selected) !important;
	}
}

// Fit the bar to channels list like before Visual Refresh
div[class^="sidebar_"] {
	& > nav[class*="guilds_"] {
		margin-bottom: 0;
	}

	& > section[class^="panels_"] {
		right: var(--space-xs) !important;
		left: auto;
		bottom: 2px;
		width: calc(100% - var(--space-xs) * 2 - var(--custom-guild-list-width));
		padding-left: 4px;
		background-color: var(--dracula-secondary);
	}
}
