/**
 * Theming for user profiles (compact and expanded).
 */

/****** User Profile Popout ******/

// User notes
.user-profile-modal:not(.custom-user-profile-theme) div[class^="note_"] > textarea {
	background-color: var(--dracula-tertiary);
}

// Better inner padding
.user-profile-modal div[class^="container_"] {
	& > div[class^="tabBar_"] {
		padding: 0 26px;
		justify-content: space-between;
		border-bottom: 2px solid var(--user-profile-border);
	}

	// About Me tab body
	& > div[class^="scroller_"] {
		padding: 16px 26px 28px !important;

		& > :first-child::before {
			content: "Biography";
			font-family: var(--font-primary);
			font-size: 12px;
			font-weight: 600;
			line-height: 2.2;
			margin-bottom: 100px;
			padding-bottom: 100px;
			overflow: visible;
		}
	}

	// All other tab bodies
	& > div[class^="listScroller_"] {
		padding-left: 10px;
		padding-top: 18px;
	}

	// Change Status text button
	span[class^="inner_"] {
		cursor: pointer;
	}

	// User notes
	div[class^="note_"] > textarea {
		margin-top: 6px;
		padding: 10px;
		border: 1px solid transparent;

		&:focus {
			border: 1px solid var(--dracula-accent);
		}
	}
}

// Roles
div[class^="role_"] {
	border: none;
	padding: 8px 6px;
	gap: 2px;

	.user-profile-modal:not(.custom-user-profile-theme) & {
		background-color: var(--dracula-tertiary);
	}
}

// Add role button
div[data-list-id^="roles-"] > div > button {
	border: none;
}

// User account connection card
li[class^="connectedAccountContainer_"] {
	border: none;

	.user-profile-modal:not(.custom-user-profile-theme) & {
		background-color: var(--dracula-tertiary);
	}

	img {
		filter: brightness(80%);
	}
}


/****** Current User Bar ******/

// No persistent red background glow on mute/deafen buttons
div[class^="buttons_"] {
	button[class*="redGlow_"] {
		background-color: unset !important;
	}

	button:hover {
		background-color: var(--background-modifier-selected) !important;
	}
}

// Fit the bar to channels list like before Visual Refresh
div[class^="sidebar_"] {
	& > nav[class*="guilds_"] {
		margin-bottom: 0;
	}

	& > section[class^="panels_"] {
		right: var(--space-xs) !important;
		left: auto;
		bottom: 2px;
		width: calc(100% - var(--space-xs) * 2 - var(--custom-guild-list-width));
		padding-left: 4px;
		border: none;
		background-color: var(--dracula-secondary);
	}
}
