/**
 * Theming for all settings pages.
 */

// Less rounding
button[class*="button_"] {
	border-radius: var(--radius-xs);
}

// Remove outlined button look
button[class*="lookOutlined_"][class*="colorRed_"] {
	// Apply lookFilled_ class
	background-color: var(--button-danger-background) !important;
	color: var(--white) !important;

	&:hover {
		background-color: var(--button-danger-background-hover) !important;
	}
}

// Switches
div[class^="control_"] {
	// Is checked
	& > div[class*="checked_"] {
		background-color: var(--dracula-accent) !important;
		border: none !important;

		& > svg > svg > path {
			fill: var(--dracula-accent);
		}
	}
}

// Larger bottom padding for settings page
div[class^="contentColumn_"] {
	padding-bottom: 110px;
}

// Radio button setting
div[role="radio"] {
	color: var(--text-primary) !important;
	background-color: var(--dracula-secondary);
}
