/**
 * Overriding global Discord variables.
 */

/****** Fonts ******/

:root {
	// Not replacing default fonts with Whitney is intentional,
	// I think gg sans is easier on the eyes.

	--font-code: "Jetbrains Mono", "Source Code Pro", consolas, "Andale Mono WT", "Andale Mono",
	"Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
	"Liberation Mono", "Nimbus Mono L", monaco, "Courier New", courier, monospace;
}

[class*="text-sm/medium"] {
	font-weight: 600;
}

/****** Sizing ******/

:root {
	--radius-none: 0px;
	--radius-xxs: 2px;
	--radius-xs: 4px;
	--radius-sm: var(--radius-xs); // Less rounding
	--radius-md: 12px;
	--radius-lg: 16px;
	--radius-xl: 24px;
	--radius-xxl: 32;
}

/****** Colors ******/

body,
.visual-refresh.theme-dark,
.visual-refresh.theme-darker,
.visual-refresh.theme-midnight,
.theme-dark.theme-darker,
{
	/* Theme color palette */
	--dracula-primary: #282a36;
	--dracula-secondary: #242631;
	--dracula-secondary-alpha: rgb(36 38 49 / 90%);
	--dracula-tertiary: #20222c;
	--dracula-tertiary-alpha: rgb(32 34 44 / 60%);
	--dracula-primary-light: #44475a;
	--dracula-accent: #bd93f9;
	--dracula-accent-alpha-5: rgb(189 147 249 / 5%);
	--dracula-accent-alpha-10: rgb(189 147 249 / 10%);
	--dracula-accent-alpha-15: rgb(189 147 249 / 15%);
	--dracula-accent-alpha-20: rgb(189 147 249 / 20%);
	--dracula-accent-alpha-50: rgb(189 147 249 / 35%);
	--dracula-accent-alpha-75: rgb(189 147 249 / 50%);
	--dracula-accent-alpha-85: rgb(189 147 249 / 85%);
	--dracula-accent-alpha-90: rgb(189 147 249 / 90%);
	--dracula-accent-dark: #7b49c0;
	--dracula-accent-light: #d4b5ff;

	/* BetterDiscord */
	--bd-blue: var(--dracula-accent);
	--bd-blue-hover: var(--dracula-accent-light);
	--bd-blue-active: var(--dracula-accent-light);
	--blurple: var(--dracula-accent);

	// Old Discord variables (pre Visual Refresh)
	--background-primary: var(--dracula-primary);
	--background-secondary: var(--dracula-secondary);
	--background-secondary-alt: var(--dracula-secondary);
	--background-tertiary: var(--dracula-tertiary);
	--background-floating: var(--dracula-secondary);
	--background-accent: var(--dracula-accent);

	// New Discord variables (Visual Refresh)
	--bg-base-primary: var(--dracula-primary);
	--bg-base-secondary: var(--dracula-secondary);
	--bg-base-tertiary: var(--dracula-secondary);
	--bg-surface-overlay: var(--dracula-primary);
	--background-base-low: var(--dracula-primary);
	--background-base-lower: var(--dracula-primary);
	--background-base-lowest: var(--dracula-secondary);
	--background-surface-high: var(--dracula-secondary);
	--background-surface-higher: var(--dracula-tertiary);
	--background-surface-highest: var(--dracula-tertiary);
	--chat-background-default: var(--dracula-secondary);
	--custom-channel-members-bg: var(--dracula-secondary);
	--background-mod-subtle: var(--dracula-tertiary);
	--bg-mod-subtle: var(--dracula-secondary);
	--modal-background: var(--dracula-tertiary);
	--message-reacted-background: var(--dracula-accent-alpha-20);
	--background-code: var(--dracula-tertiary);
	--background-mentioned: var(--dracula-accent-alpha-10);
	--background-mentioned-hover: var(--dracula-accent-alpha-20);
	--background-message-highlight: var(--dracula-accent-alpha-15);
	--background-message-hover: var(--dracula-accent-alpha-5);
	--autocomplete-bg: var(--dracula-secondary);
	--user-profile-overlay-background: var(--dracula-primary);
	--card-primary-bg: var(--dracula-secondary);
	--modal-footer-background: var(--dracula-tertiary);
	--button-filled-brand-background: var(--dracula-accent-alpha-85);
	--button-filled-brand-background-hover: var(--dracula-accent);

	// Messages
	--background-modifier-selected: var(--dracula-accent-alpha-20);
	--info-warning-foreground: var(--dracula-accent); // mentioned message left border
	--text-link: var(--dracula-accent);
	--mention-foreground: var(--dracula-accent);
	--interactive-active: hsl(from var(--interactive-normal) h s calc(l + 10));
	--interactive-hover: hsl(from var(--interactive-normal) h s calc(l + 20));

	//--mention-background: var(--dracula-accent-alpha-90); // The default looks well

	// Borders
	--border-normal: none;
	--input-border: none;
	--app-border-frame: none;

	// Discord Brand variables
	--bg-brand: var(--dracula-accent);
	--brand-360: var(--dracula-accent);
	--brand-500: var(--dracula-accent);
	--brand-560: var(--dracula-accent-alpha-90);
	--blurple-50: var(--dracula-accent-alpha-90);
}
