// Based on https://github.com/milbits/oldcord

.theme-dark:not(html.custom-theme-background, :has(#clientThemeVars)) {
	--autocomplete-bg: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
	--channeltextarea-background: hsl(218, calc(var(--saturation-factor, 1) * 8%), 27%);
	--header-primary: var(--white-500);
	--header-secondary: #b9bbbe;
	--channels-default: #8e9297;
	--interactive-normal: #b9bbbe;
	--interactive-hover: #dcddde;
	--interactive-active: var(--white-500);
	--interactive-muted: hsl(217, calc(var(--saturation-factor, 1) * 8%), 34%);
	--background-primary: hsl(220, calc(var(--saturation-factor, 1) * 8%), 23%);
	--modal-background: var(--background-primary);
	--primary-600: var(--background-primary);
	--primary-630: var(--background-secondary);
	--background-secondary: hsl(223, calc(var(--saturation-factor, 1) * 7%), 20%);
	--background-secondary-alt: hsl(220, calc(var(--saturation-factor, 1) * 7%), 17%);
	--background-tertiary: hsl(216, calc(var(--saturation-factor, 1) * 7%), 14%);
	--background-accent: hsl(217, calc(var(--saturation-factor, 1) * 8%), 34%);
	--background-floating: #18191c;
	--background-modifier-hover: #4f545c29;
	--background-modifier-active: #4f545c3d;
	--background-modifier-selected: #4f545c52;
	--background-modifier-accent: #ffffff0f;
	--background-mentioned: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.051);
	--background-mentioned-hover: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.078);
	--background-message-hover: #04040512;
	--background-help-warning: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.102);
	--background-help-info: #00b0f41a;
	--scrollbar-thin-thumb: #202225;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #202225;
	--scrollbar-auto-track: #2e3338;
	--scrollbar-auto-scrollbar-color-thumb: #202225;
	--scrollbar-auto-scrollbar-color-track: #2f3136;
	--elevation-stroke: 0 0 0 1px #04040526;
	--elevation-low: 0 1px 0 #04040533, 0 1.5px 0 #0606070d, 0 2px 0 #0404050d;
	--elevation-medium: 0 4px 4px #00000029;
	--elevation-high: 0 8px 16px #0000003d;

	--legacy-elevation-low: 0 1px 5px 0 hsl(var(--black-500-hsl) / 0.3);
	--legacy-elevation-high: 0 2px 10px 0 hsl(var(--black-500-hsl) / 0.2);
	--legacy-elevation-border: 0 0 0 1px hsl(var(--primary-700-hsl) / 0.6);

	--logo-primary: var(--white-500);
	--focus-primary: var(--brand-experiment);
	--deprecated-card-bg: hsla(216, calc(var(--saturation-factor, 1) * 7%), 14%, 0.6);
	--deprecated-card-editable-bg: #2022254d;
	--deprecated-store-bg: var(--background-primary);
	--deprecated-quickswitcher-input-background: #72767d;
	--deprecated-quickswitcher-input-placeholder: #ffffff4d;
	--deprecated-text-input-bg: #0000001a;
	--deprecated-text-input-border: #0000004d;
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: #dcddde;
	--button-secondary-background: #4f545c;
	--button-secondary-background-hover: #72767d;
	--button-secondary-background-active: #72767d;
	--primary-transparent: #ffffff1a;

	--search-popout-option-user-nickname: var(--text-normal);
	--search-popout-option-user-username: var(--text-muted);
	--search-popout-option-filter-text: var(--primary-400);
	--search-popout-option-non-text-color: #caccce;
	--search-popout-option-filter-color: #caccce;
	--search-popout-option-answer-color: #caccce;
	--search-popout-date-picker-border: 1px solid hsl(228 calc(1 * 6.667%) 14.706% /0.3);
	--search-popout-date-picker-hint-text: #caccce;
	--search-popout-date-picker-hint-value-text: #fff;
	--search-popout-date-picker-hint-value-background: var(--brand-500);
	--search-popout-date-picker-hint-value-background-hover: var(--brand-430);

	--shadow-border: 0 0 0 1px hsl(none 0% 100%/0.08);
	--shadow-border-filter: drop-shadow(0 0 1px hsl(none 0% 100%/0.08));
	--shadow-button-overlay: 0 12px 24px 0 hsl(none 0% 0%/0.24);
	--shadow-button-overlay-filter: drop-shadow(0 12px 24px hsl(none 0% 0%/0.24));
	--shadow-high: 0 12px 24px 0 hsl(none 0% 0%/0.24);
	--shadow-high-filter: drop-shadow(0 12px 24px hsl(none 0% 0%/0.24));
	--shadow-ledge: 0 2px 0 0 hsl(none 0% 0%/0.05), 0 1.5px 0 0 hsl(none 0% 0%/0.05), 0 1px 0 0 hsl(none 0% 0%/0.16);
	--shadow-ledge-filter: drop-shadow(0 1.5px 0 hsl(none 0% 0%/0.24));
	--shadow-low: 0 1px 4px 0 hsl(none 0% 0%/0.14);
	--shadow-low-filter: drop-shadow(0 1px 4px hsl(none 0% 0%/0.14));
	--shadow-low-active: 0 0 4px 0 hsl(none 0% 0%/0.14);
	--shadow-low-active-filter: drop-shadow(0 0 4px hsl(none 0% 0%/0.14));
	--shadow-low-hover: 0 4px 10px 0 hsl(none 0% 0%/0.14);
	--shadow-low-hover-filter: drop-shadow(0 4px 10px hsl(none 0% 0%/0.14));
	--shadow-medium: 0 4px 8px 0 hsl(none 0% 0%/0.16);
	--shadow-medium-filter: drop-shadow(0 4px 8px hsl(none 0% 0%/0.16));
	--shadow-mobile-navigator-x: 0 0 10px 0 hsl(none 0% 0%/0.22);
	--shadow-mobile-navigator-x-filter: drop-shadow(0 0 10px hsl(none 0% 0%/0.22));
	--shadow-top-high: 0 -12px 32px 0 hsl(none 0% 0%/0.24);
	--shadow-top-high-filter: drop-shadow(0 -12px 32px hsl(none 0% 0%/0.24));
	--shadow-top-ledge: 0 -2px 0 0 hsl(none 0% 0%/0.05), 0 -1.5px 0 0 hsl(none 0% 0%/0.05), 0 -1px 0 0 hsl(none 0% 0%/0.16);
	--shadow-top-ledge-filter: drop-shadow(0 -1.5px 0 hsl(none 0% 0%/0.24));
	--shadow-top-low: 0 -1px 4px 0 hsl(none 0% 0%/0.14);
	--shadow-top-low-filter: drop-shadow(0 -1px 4px hsl(none 0% 0%/0.14));
}

.theme-light:not(html.custom-theme-background, :has(#clientThemeVars)) {
	--channeltextarea-background: #ebedef;
	--background-modifier-accent: #06060714;
	--background-mentioned: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.1);
	--background-mentioned-hover: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.2);
	--background-message-hover: rgba(6, 6, 7, 0.02);
	--elevation-stroke: 0 0 0 1px rgba(6, 6, 7, 0.08);
	--elevation-low: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025), 0 2px 0 rgba(6, 6, 7, 0.025);
	--elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.08);
	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.16);

	--legacy-elevation-low: 0 1px 5px hsl(var(--black-500-hsl) / 0.2);
	--legacy-elevation-high: 0 2px 10px 0 hsl(var(--black-500-hsl) / 0.1);
	--legacy-elevation-border: 0 0 0 1px hsl(var(--primary-300-hsl) / 0.3);

	--logo-primary: var(--brand-experiment);
	--focus-primary: var(--brand-experiment);
	--radio-group-dot-foreground: hsl(227, calc(var(--saturation-factor, 1) * 31%), 44%);
	--primary-transparent: hsla(214, calc(var(--saturation-factor, 1) * 10%), 50%, 0.102);
}

body {
	--text-muted: #72767d;
	--blurple: var(--brand-experiment);
	--blurple-hover: hsl(227, calc(var(--saturation-factor, 1) * 44%), 59%);
	--blurple-active: hsl(226, calc(var(--saturation-factor, 1) * 34%), 52%);
	--blurple-inverted: #fff;
	--blurple-inverted-hover: hsl(228, calc(var(--saturation-factor, 1) * 56%), 98%);
	--blurple-inverted-active: hsl(229, calc(var(--saturation-factor, 1) * 60%), 93%);
	--text-brand: var(--blurple);
	--bg-brand: var(--blurple);
	--brand-260: var(--brand-experiment-260);
	--brand-360: var(--brand-experiment-360);
	--brand-460: var(--brand-experiment-460);
	--brand-500: var(--brand-experiment);
	--brand-new-500: var(--blurple);
	--brand-530: var(--brand-experiment-530);
	--brand-560: var(--brand-experiment-560);
	--brand-new-560: var(--brand-560);
	--brand-600: var(--brand-experiment-600);
	--brand-experiment-100: hsl(228, calc(var(--saturation-factor, 1) * 56%), 98%);
	--brand-experiment-130: hsl(228, calc(var(--saturation-factor, 1) * 63%), 97%);
	--brand-experiment-160: hsl(228, calc(var(--saturation-factor, 1) * 60%), 95%);
	--brand-experiment-200: hsl(229, calc(var(--saturation-factor, 1) * 60%), 93%);
	--brand-experiment-230: hsl(227, calc(var(--saturation-factor, 1) * 57%), 91%);
	--brand-experiment-260: hsl(226, calc(var(--saturation-factor, 1) * 59%), 89%);
	--brand-experiment-300: hsl(227, calc(var(--saturation-factor, 1) * 58%), 86%);
	--brand-experiment-330: hsl(227, calc(var(--saturation-factor, 1) * 59%), 82%);
	--brand-experiment-360: hsl(227, calc(var(--saturation-factor, 1) * 58%), 78%);
	--brand-experiment-400: hsl(226, calc(var(--saturation-factor, 1) * 58%), 72%);
	--brand-experiment-430: hsl(227, calc(var(--saturation-factor, 1) * 58%), 70%);
	--brand-experiment-460: hsl(227, calc(var(--saturation-factor, 1) * 59%), 68%);
	--brand-experiment: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%);
	--brand-experiment-500: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%);
	--brand-experiment-530: hsl(227, calc(var(--saturation-factor, 1) * 45%), 59%);
	--brand-experiment-560: hsl(227, calc(var(--saturation-factor, 1) * 35%), 53%);
	--brand-experiment-600: hsl(227, calc(var(--saturation-factor, 1) * 31%), 44%);
	--brand-experiment-630: hsl(226, calc(var(--saturation-factor, 1) * 31%), 38%);
	--brand-experiment-660: hsl(226, calc(var(--saturation-factor, 1) * 31%), 34%);
	--brand-experiment-700: hsl(227, calc(var(--saturation-factor, 1) * 31%), 26%);
	--brand-experiment-730: hsl(228, calc(var(--saturation-factor, 1) * 31%), 25%);
	--brand-experiment-760: hsl(227, calc(var(--saturation-factor, 1) * 32%), 22%);
	--brand-experiment-800: hsl(226, calc(var(--saturation-factor, 1) * 31%), 19%);
	--brand-experiment-830: hsl(225, calc(var(--saturation-factor, 1) * 32%), 15%);
	--brand-experiment-860: hsl(225, calc(var(--saturation-factor, 1) * 32%), 10%);
	--brand-experiment-900: hsl(228, calc(var(--saturation-factor, 1) * 29%), 3%);
	--brand-experiment-05a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 5%);
	--brand-experiment-10a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 10%);
	--brand-experiment-15a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 15%);
	--brand-experiment-20a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 20%);
	--brand-experiment-25a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 25%);
	--brand-experiment-30a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 30%);
	--brand-experiment-35a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 35%);
	--brand-experiment-40a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 40%);
	--brand-experiment-45a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 45%);
	--brand-experiment-50a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 50%);
	--brand-experiment-55a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 55%);
	--brand-experiment-60a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 60%);
	--brand-experiment-65a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 65%);
	--brand-experiment-70a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 70%);
	--brand-experiment-75a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 75%);
	--brand-experiment-80a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 80%);
	--brand-experiment-85a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 85%);
	--brand-experiment-90a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 90%);
	--brand-experiment-95a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 95%);
	--red-inverted: hsl(0, calc(var(--saturation-factor, 1) * 80%), 98%);
	--red-inverted-active: hsl(0, calc(var(--saturation-factor, 1) * 85%), 92%);
	--yellow: hsl(38, calc(var(--saturation-factor, 1) * 96%), 54%);
	--yellow-360: var(--yellow);
	--status-yellow-560: var(--yellow);
	--yellow-hover: #e19517;
	--yellow-inverted: #fffbf4;
	--yellow-inverted-active: #feedd1;
	--green-inverted: #f6fbf9;
	--green-inverted-active: #d9f0e6;
	--green: hsl(153, calc(var(--saturation-factor, 1) * 46%), 49%);
	--status-green-600: var(--green);
	--green-360: var(--green);
	--green-hover: hsl(153, calc(var(--saturation-factor, 1) * 46%), 44%);
	--green-active: hsl(152, calc(var(--saturation-factor, 1) * 46%), 39%);
	--green-transparent: hsl(153, calc(var(--saturation-factor, 1) * 46%), 49%, 20%);
	--blue-345: hsl(199.524 calc(1 * 100%) 49.412% /1);
	--info-positive-foreground: var(--green);
	--text-positive: var(--green);
	--status-positive-background: var(--green);
	--red: hsl(0deg, calc(var(--saturation-factor, 1) * 85%), 61%);
	--red-hover: hsl(0deg, calc(var(--saturation-factor, 1) * 66%), 55%);
	--red-active: hsl(0deg, calc(var(--saturation-factor, 1) * 54%), 49%);
	--red-transparent: hsl(0, calc(var(--saturation-factor, 1) * 85%), 61%, 10%);
	--button-danger-background-active: var(--red-active);
	--button-danger-background: var(--red);
	--text-danger: var(--red);
	--info-danger-foreground: var(--red);
	--status-danger-background: var(--red);
	--font-display: var(--font-primary);
	--control-brand-foreground: var(--brand-experiment);
	--bdfdb-green: var(--green);
	/* activity colors*/
	--twitch-dark: hsl(262, calc(var(--saturation-factor, 1) * 47%), 36%);
	--twitch: hsl(262, calc(var(--saturation-factor, 1) * 47%), 40%);
	--youtube-dark: hsl(0, calc(var(--saturation-factor, 1) * 73%), 41%);
	--youtube: hsl(0deg, calc(var(--saturation-factor, 1) * 73%), 46%);
	--spotify: hsl(141, calc(var(--saturation-factor, 1) * 72%), 42%);
	--spotify-dark: hsl(141, calc(var(--saturation-factor, 1) * 72%), 40%);
	--xbox-dark: hsl(120, calc(var(--saturation-factor, 1) * 77%), 26%);
	--xbox2: hsl(120, calc(var(--saturation-factor, 1) * 77%), 27%);
	--playstation-dark: hsl(220, calc(var(--saturation-factor, 1) * 96%), 27%);
	--playstation2: hsl(220, calc(var(--saturation-factor, 1) * 96%), 31%);
	--crunchyroll-dark: hsl(29, calc(var(--saturation-factor, 1) * 93%), 55%);
	--crunchyroll: hsl(29, calc(var(--saturation-factor, 1) * 93%), 60%);
	--text-link: color-mix(in oklab, var(--blue-345) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
}

.cardPrimary__73069 {
	--__card-accent-color: var(--background-secondary) !important;
}

:root {
	--custom-channel-header-height: 48px;
	--custom-member-list-width: 240px;
	--custom-guild-list-width: 72px;
	--custom-guild-sidebar-width: 375px;
	--custom-app-panels-height: 52.984375px;
	--custom-add-permissions-modal-focus-ring-width: 4px;
	--custom-custom-role-icon-form-item-role-icon-preview-size: 32px;
	--custom-guild-settings-roles-edit-shared-sidebar-width: 232px;
	--custom-guild-settings-roles-intro-roles-transition: 250ms;
	--custom-guild-settings-roles-intro-pause-transition: 166ms;
	--custom-guild-settings-roles-intro-background-transition: 500ms;
	--custom-guild-settings-roles-intro-banner-transition-delay: calc(var(--custom-guild-settings-roles-intro-roles-transition) + var(--custom-guild-settings-roles-intro-pause-transition));
	--custom-guild-settings-roles-intro-roles-transition-delay: calc(var(--custom-guild-settings-roles-intro-roles-transition) + var(--custom-guild-settings-roles-intro-pause-transition) * 2 + var(--custom-guild-settings-roles-intro-background-transition));
	--custom-guild-settings-community-intro-content-spacing: 32px;
	--custom-guild-settings-community-intro-hover-distance: -12px;
	--custom-guild-settings-community-intro-text-spacing: 8px;
	--custom-guild-settings-discovery-landing-page-max-width-tab: 905px;
	--custom-guild-settings-discovery-landing-page-settings-max-width: 520px;
	--custom-guild-settings-partner-content-spacing: 32px;
	--custom-event-detail-info-tab-base-spacing: 8px;
	--custom-subscription-listing-previews-carousel-cards-get-cut-off-width: 724px;
	--custom-editable-benefits-list-emoji-size: 24px;
	--custom-edit-benefit-modal-emoji-size: 22px;
	--custom-edit-benefit-modal-emoji-margin: 10px;
	--custom-guild-settings-role-subscriptions-max-width: 905px;
	--custom-guild-settings-role-subscriptions-overview-settings-max-width: 520px;
	--custom-guild-settings-store-page-settings-max-width: 520px;
	--custom-importable-benefits-list-listing-image-size: 40px;
	--custom-import-benefits-modal-icon-size: 24px;
	--custom-import-benefits-modal-role-icon-size: 40px;
	--custom-role-icon-uploader-icon-size: 24px;
	--custom-guild-role-subscription-style-constants-cover-image-aspect-ratio: 4;
	--custom-historic-earnings-table-toggle-expand-column-width: 30px;
	--custom-guild-role-subscription-card-basic-info-tier-image-size: 80px;
	--custom-guild-role-subscription-card-basic-info-tier-image-size-mobile: 48px;
	--custom-guild-role-subscriptions-overview-page-page-max-width: 1180px;
	--custom-guild-dialog-popout-width: 250px;
	--custom-guild-dialog-splash-ratio: 1.77778;
	--custom-guild-dialog-icon-size: 84px;
	--custom-guild-dialog-icon-padding: 4px;
	--custom-guild-product-download-modal-header-image-width: 119px;
	--custom-guild-onboarding-home-page-max-page-width: 1128px;
	--custom-guild-onboarding-home-page-max-single-column-width: 704px;
	--custom-home-resource-channels-obscured-blur-radius: 20px;
	--custom-guild-member-application-review-sidebar-width: 29vw;
	--custom-featured-items-popout-featured-items-popout-footer-height: 120px;
	--custom-guild-boosting-sidebar-display-conditional-bottom-margin: 12px;
	--custom-guild-boosting-marketing-progress-bar-marker-dimensions: 32px;
	--custom-guild-boosting-marketing-progress-bar-end-markers-margin: 4px;
	--custom-guild-boosting-marketing-progress-bar-marker-marker-dimensions: 32px;
	--custom-guild-boosting-marketing-tier-cards-tier-card-border-radius: 16px;
	--custom-go-live-modal-art-height: 112px;
	--custom-gif-picker-gutter-size: 0 16px 12px 16px;
	--custom-gif-picker-search-results-desired-item-width: 160px;
	--custom-forum-composer-attachments-attachment-size: 78px;
	--custom-forum-post-obscured-blur-radius: 20px;
	--custom-forum-post-grid-view-obscured-blur-radius: 20px;
	--custom-demo-forum-channel-padding-large: 20px;
	--custom-demo-forum-channel-post-padding: 12px;
	--custom-demo-forum-channel-gap-size: 8px;
	--custom-feedback-modal-emoji-size: 64px;
	--custom-feedback-modal-close-button-margin: 12px;
	--custom-expression-suggestions-container-padding: 8px;
	--custom-expression-suggestions-sticker-suggestion-size: 48px;
	--custom-expression-suggestions-sticker-suggestion-margin: 8px;
	--custom-expression-picker-constants-expression-picker-list-section-heading-height: 32px;
	--custom-expression-picker-constants-expression-picker-inspector-bar-graphic-primary-dimensions: 28px;
	--custom-expression-picker-constants-expression-picker-inspector-bar-graphic-secondary-dimensions: 32px;
	--custom-expression-picker-constants-expression-picker-inspector-bar-height: 48px;
	--custom-emoji-picker-border-radius: 8px;
	--custom-emoji-picker-constants-min-emoji-picker-width: 498px;
	--custom-emoji-picker-constants-emoji-size-medium: 40px;
	--custom-emoji-picker-constants-emoji-size-large: 48px;
	--custom-emoji-picker-constants-emoji-container-padding-horizontal: 4px;
	--custom-emoji-picker-constants-emoji-container-padding-vertical: 4px;
	--custom-emoji-picker-constants-emoji-picker-height: 440px;
	--custom-emoji-picker-constants-emoji-section-margin-bottom: 12px;
	--custom-emoji-picker-constants-emoji-list-padding-top: 0;
	--custom-emoji-picker-constants-emoji-list-padding-right: 0;
	--custom-emoji-picker-constants-emoji-list-padding-bottom: 8px;
	--custom-emoji-picker-constants-emoji-list-padding-left: 8px;
	--custom-emoji-picker-constants-emoji-list-search-results-padding-top: 8px;
	--custom-emoji-picker-constants-unicode-category-icon-margin-vertical: 2px;
	--custom-emoji-picker-constants-unicode-category-icon-size: 24px;
	--custom-emoji-picker-constants-unicode-category-icon-padding: 4px;
	--custom-emoji-picker-constants-unicode-category-shortcut-height: 48px;
	--custom-emoji-picker-constants-guild-category-icon-size: 32px;
	--custom-emoji-picker-constants-guild-category-icon-margin-verical: 8px;
	--custom-emoji-picker-constants-category-separator-size: 1px;
	--custom-emoji-picker-constants-category-separator-margin-vertical: 12px;
	--custom-emoji-picker-constants-diversity-emoji-size: 24px;
	--custom-emoji-picker-constants-emoji-premium-upsell-height: 54px;
	--custom-emoji-picker-constants-emoji-premium-upsell-margin-top: 16px;
	--custom-emoji-picker-constants-newly-added-emoji-badge-height: 16px;
	--custom-discover-static-guild-card-card-height: 258px;
	--custom-discover-featured-guilds-section-card-height: 320px;
	--custom-discover-featured-guilds-section-min-card-width: 248px;
	--custom-discover-featured-guilds-section-gutter-size: 16px;
	--custom-discover-search-results-max-search-bar-width: 720px;
	--custom-guild-directory-min-card-width: 248px;
	--custom-guild-directory-gutter-size: 16px;
	--custom-guild-directory-min-content-width: 320px;
	--custom-guild-directory-max-page-width: 1608px;
	--custom-guild-directory-entry-card-card-height: 274px;
	--custom-guild-directory-landing-min-header-height: 200px;
	--custom-guild-shop-page-two-column-max-width: 1439px;
	--custom-aspect-stable-image-container-padding: 20px;
	--custom-monetization-info-table-expandable-rows-toggle-expand-column-width: 30px;
	--custom-guild-shop-content-width: 1044px;
	--custom-guild-shop-content-width-reduced: 788px;
	--custom-guild-shop-content-width-minimum: 688px;
	--custom-guild-shop-channel-row-gradient: linear-gradient(113deg, #2f3570 1.98%, #422c70 94.48%);
	--custom-guild-shop-channel-row-gradient-hover: linear-gradient(113deg, #383f86 1.98%, #4d3385 94.48%);
	--custom-guild-shop-channel-row-border-gradient: linear-gradient(113deg, #6591ff, #d150ff);
	--custom-guild-shop-channel-row-glow: 0 0 4px rgba(189, 149, 255, 0.5);
	--custom-guild-shop-preview-pill-shadow-dark: -4px 5px #1d1d1d;
	--custom-guild-shop-preview-pill-shadow-light: -4px 5px #d7dce8;
	--custom-guild-shop-gradient-start: #686bff;
	--custom-guild-shop-gradient-end: #c356fd;
	--custom-guild-role-connections-modal-close-button-margin: 12px;
	--custom-clips-enabled-indicator-medium-break-point: 920px;
	--custom-clips-enabled-indicator-badge-icon-dimension-override: 20px;
	--custom-client-themes-editor-content-width: calc(var(--custom-theme-selection-selection-size) * 3 + var(--custom-theme-selection-group-column-gap) * 2);
	--custom-client-themes-editor-editor-padding: 16px;
	--custom-theme-selection-selection-size: 60px;
	--custom-theme-selection-group-column-gap: 24px;
	--custom-channel-attachment-upload-spoiler-blur-radius: 44px;
	--custom-channel-attachment-upload-mini-attachment-size: 78px;
	--custom-channel-textarea-text-area-height: 44px;
	--custom-channel-textarea-text-area-max-height: 50vh;
	--custom-channel-textarea-app-launcher-button-gap: 8px;
	--custom-channel-notice-icon-size: 16px;
	--custom-channel-notice-padding: 12px;
	--custom-channel-call-participants-popout-padding-value: 16px;
	--custom-stream-upsell-modal-art-height: 149px;
	--custom-voice-channel-status-modal-emoji-size: 22px;
	--custom-voice-channel-status-modal-emoji-margin: 10px;
	--custom-broadcasting-tooltip-image-offset: 40px;
	--custom-application-directory-content-min-width: 600px;
	--custom-application-directory-content-max-width: 1024px;
	--custom-guild-count-small-icon-size: 16px;
	--custom-guild-count-large-icon-size: 20px;
	--custom-collection-gallery-text-container-width: 400px;
	--custom-collection-gallery-media-breakpoint: 1024px;
	--custom-collection-gallery-column-card-height: 600px;
	--custom-collection-gallery-row-card-height: 283px;
	--custom-collection-list-card-gap: 16px;
	--custom-collection-list-with-image-grid-gap: 16px;
	--custom-collections-collection-gap: 32px;
	--custom-application-directory-profile-sidebar-width: 192px;
	--custom-application-directory-profile-sidebar-margin-right: 48px;
	--custom-application-directory-profile-icon-size: 122px;
	--custom-application-directory-search-sidebar-width: 200px;
	--custom-application-directory-search-sidebar-margin-right: 32px;
	--custom-activity-bookmark-embed-image-width: 356px;
	--custom-activity-bookmark-embed-image-height: 200px;
	--custom-activity-bookmark-embed-content-height: 400px;
	--custom-activity-shelf-item-activity-item-height: 230px;
	--custom-activity-shelf-item-large-activity-item-height: 143px;
	--custom-activity-shelf-modal-modal-padding: 80px;
	--custom-activity-shelf-modal-modal-width: 496px;
	--custom-activity-shelf-modal-modal-min-width: 496px;
	--custom-activity-shelf-modal-modal-max-width: 1024px;
	--custom-activity-shelf-modal-modal-header-height: 92px;
	--custom-activity-shelf-modal-modal-header-without-description-height: 74px;
	--custom-activity-shelf-modal-modal-footer-height: 50px;
	--custom-activity-shelf-modal-modal-art-height: 64px;
	--custom-activity-shelf-modal-modal-max-height: 720px;
	--custom-activity-shelf-modal-modal-header-developer-controls-height: 176px;
	--custom-activity-shelf-modal-dividers-height: 2px;
	--custom-activity-shelf-modal-divider-height: 1px;
	--custom-activity-shelf-slide-activity-directory-shelf-grid-gap: 16px;
	--custom-accept-invite-modal-invite-modal-height: 420px;
	--custom-accept-invite-modal-small-screen-width: 720px;
	--custom-avatar-avatar-decoration-border-position: calc((0.5 - var(--decoration-to-avatar-ratio) / 2) * 100%);
	--custom-button-button-xl-width: 148px;
	--custom-button-button-xl-height: 50px;
	--custom-button-button-lg-width: 130px;
	--custom-button-button-lg-height: 44px;
	--custom-button-button-md-width: 96px;
	--custom-button-button-md-height: 38px;
	--custom-button-button-sm-width: 60px;
	--custom-button-button-sm-height: 32px;
	--custom-button-button-tn-height: 24px;
	--custom-button-button-tn-width: 52px;
	--custom-button-link-underline-width: 1px;
	--custom-button-link-underline-offset: 1px;
	--custom-button-link-underline-stop: calc(var(--custom-button-link-underline-width) + var(--custom-button-link-underline-offset));
	--custom-button-filled-hover: 0.1;
	--custom-button-filled-active: 0.2;
	--custom-button-transition-duration: 170ms;
	--custom-modal-min-width-large: 800px;
	--custom-special-markdown-small-break-point: 600px;
	--custom-special-markdown-medium-break-point: 768px;
	--custom-user-profile-hype-squad-badge-icon-size: 24px;
	--custom-user-profile-hype-squad-badge-shine-size-offset: 64px;
	--custom-guild-discovery-gutter-size: 16px;
	--custom-guild-discovery-max-page-width: 1608px;
	--custom-dropdown-button-small-dropdown-size: 16px;
	--custom-dropdown-button-medium-dropdown-size: 24px;
	--custom-dropdown-button-large-dropdown-size: 32px;
	--custom-dropdown-button-separator-padding: 4px;
	--custom-dropdown-button-hitbox-padding: 8px;
	--custom-responsive-embed-tile-loading-background-width: 271px;
	--custom-game-install-locations-item-padding: 20px;
	--custom-game-list-row-min-height: 62px;
	--custom-game-list-linked-to-glow-duration: 2000ms;
	--custom-application-store-home-store-home-width: 1245px;
	--custom-application-store-listing-body-max-width: 880px;
	--custom-store-colors-primary-750: #191b1d;
	--custom-store-colors-premium-gradient: linear-gradient(90deg, var(--premium-tier-2-purple), var(--premium-tier-2-pink));
	--custom-member-list-item-avatar-decoration-padding: 2px;
	--custom-messages-popout-messages-popout-footer-height: 120px;
	--custom-radio-image-border-thickness: 2px;
	--custom-standard-sidebar-view-sidebar-content-width: 192px;
	--custom-standard-sidebar-view-standard-padding: 20px;
	--custom-standard-sidebar-view-sidebar-content-scrollbar-padding: 6px;
	--custom-standard-sidebar-view-sidebar-total-width: calc(var(--custom-standard-sidebar-view-sidebar-content-width) + var(--custom-standard-sidebar-view-standard-padding) + var(--custom-standard-sidebar-view-sidebar-content-scrollbar-padding));
}

.theme-dark:not(html.custom-theme-background, :has(#clientThemeVars)) {
	--background-base-low: var(--background-primary);
	--background-base-lower: var(--background-primary);
	--background-base-lowest: var(--background-secondary);
	--bg-base-tertiary: var(--background-tertiary);

	--bg-brand: var(--blurple);
	--custom-channel-members-bg: var(--background-secondary);
	--background-mod-subtle: var(--background-modifier-hover);
	--modal-footer-background: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
	--checkbox-background-checked: var(--blurple);

	--text-normal: color-mix(in oklab, var(--primary-230) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));

	--__spoiler-background-color--hidden: var(--primary-700);
	--__spoiler-background-color--hidden--hover: hsl(var(--primary-700-hsl)/0.8);
	--__spoiler-background-color--revealed: hsl(var(--white-500-hsl)/0.1);
	--__spoiler-text-color--hidden: transparent;
	--__spoiler-warning-text-color: var(--primary-200);
	--__spoiler-warning-text-color--hover: var(--white-500);
	--__spoiler-warning-background-color: hsl(var(--black-500-hsl)/0.6);
	--__spoiler-warning-background-color--hover: hsl(var(--black-500-hsl)/0.9);
	--__spoiler-container-box-shadow-color: hsl(var(--black-500-hsl)/0.1);
}

/* remove the title bar on web & linux */
.platform-web, .platform-linux {
	.base_c48ade {
		grid-template-areas: "titleBar titleBar titleBar" "notice notice notice" "guildsList channelsList page";
		grid-template-rows: [top] 0px [titlebarEnd] min-content [page] 0px [end] !important;
	}

	.bar_c38106 .title_c38106 {
		display: none;
	}

	.bar_c38106 .trailing_c38106 {
		top: 33px !important;
	}

	.scroller_ef3116 {
		padding-top: 2px !important;
	}
}

:is(.platform-win) .sidebarListRounded_c48ade {
	border-top-left-radius: 8px !important;
}

#app-mount .h5_b717a1.eyebrow_b717a1 {
	text-transform: uppercase !important;
}

.visual-refresh {
	/*servers and channels*/
	.childWrapperNoHoverBg__6e9f8 {
		background-color: var(--background-primary);
	}

	.sidebarListRounded_c48ade {
		border-top-left-radius: unset;
	}

	.panels_c48ade {
		display: flex;
		width: 241px;
		flex-direction: column;
		border: none;
		border-radius: 0;
		background: var(--background-secondary-alt);
	}

	.menu_c1e9c4, .option__3f413, .popout__3f413 {
		background: var(--background-floating);
		box-shadow: var(--shadow-high);
		border-radius: 4px;
		border: none;
	}

	.scroller_c1e9c4, .labelContainer_c1e9c4 {
		padding: 6px 8px;
	}

	.wrapper_f563df {
		gap: unset;
		padding: 4px 0 6px 2px;

		.button_f563df {
			border-radius: 50%;
			width: 32px;
			height: 32px;
			padding: 4px;
		}
	}

	.item_c1e9c4 {
		box-sizing: border-box;
		margin: 2px 0;
	}

	.colorDefault_c1e9c4 .label_c1e9c4 {
		color: unset;
	}

	.colorDefault_c1e9c4:active:not(.hideInteraction_c1e9c4) {
		background-color: var(--menu-item-default-active-bg);
	}

	.colorDefault_c1e9c4.focused_c1e9c4 {
		border-radius: 2px;
	}

	.colorDanger_c1e9c4, .colorDanger_c1e9c4 .checkbox_c1e9c4, .colorDanger_c1e9c4 .radioSelection_c1e9c4 {
		color: var(--status-danger);
	}

	.colorDanger_c1e9c4.focused_c1e9c4 {
		color: var(--white);
	}

	.colorDefault_c1e9c4.focused_c1e9c4:not(.checkboxContainer_c1e9c4) path {
		fill: var(--white);
	}

	.iconContainer_c1e9c4 {
		width: 18px;
		height: 18px;
	}

	.separator_c1e9c4 {
		margin: 4px;
	}

	.iconContainer_c1e9c4 {
		svg.radioIcon_c1e9c4 {
			width: 16px;
			height: 16px;
			margin-top: 2px
		}

		.refreshIconFill__001a7 {
			fill: transparent;
			stroke: white;
			stroke-width: 2;
			r: 10;
		}

		.refreshIconStroke__001a7 {
			stroke-width: 0;
		}

		.refreshIcon__001a7 {
			fill: var(--blurple);
			r: 6
		}
	}

	.caret_c1e9c4 {
		width: 16px;
		height: 16px;
	}

	.buttons__37e49 {
		gap: 1px;
	}

	.listItem__650eb {
		width: 80px;
	}

	.wrapper_cc5dd2,
	.childWrapper__6e9f8,
	.icon__6e9f8 {
		width: 50px;
		height: 50px;
	}

	.wrapper_cc5dd2 > .svg_cc5dd2 {
		inset: auto;
		contain: none;
	}

	.wrapper_cc5dd2 > .svg_cc5dd2 foreignObject {
		mask: none;
		overflow: visible;
		x: -4;
		y: -4;
	}

	.wrapper_cc5dd2 > .svg_cc5dd2 foreignObject[width="48"] {
		x: 0;
		y: 0;
	}

	.wrapper_cc5dd2 .wrapper__6e9f8 {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		overflow: hidden;
		transition: border-radius 0.2s ease;
	}

	.wrapper__6e9f8.selected__6e9f8 {
		border-radius: 15px !important;
	}

	.outer_bf1984 {
		background: var(--background-tertiary);
	}

	.outer_bf1984.interactive_bf1984:hover {
		background-color: var(--primary-800);
	}

	.header_f37cb1 {
		border: unset;
		box-shadow: var(--shadow-ledge);
	}

	.container__9293f {
		border: unset;
		box-shadow: var(--shadow-ledge);
	}

	.title_f75fb0 {
		padding-left: 8px;
	}

	.lookLink__201d5.colorPrimary__201d5 {
		color: var(--text-normal);
	}

	/* Emojis/GIF Picker */
	.drawerSizingWrapper__08434 {
		right: 0px !important;
	}

	.contentWrapper__08434 {
		background-color: var(--background-secondary);
		border-radius: 8px;
		box-shadow: var(--shadow-border), var(--shadow-high);
		border: unset;
	}

	.header_fed6d3, .soundboardHeader__08434 {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-ledge);
		border-bottom: unset;
	}

	.emojiPicker_c0e32c {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-border), var(--shadow-high);
		border-bottom-right-radius: var(--custom-emoji-picker-border-radius);
		border-bottom-left-radius: var(--custom-emoji-picker-border-radius);
		grid-template-columns: 48px auto;
		grid-template-rows: auto 1fr auto;
		height: var(--custom-emoji-picker-constants-emoji-picker-height);
		width: var(--custom-emoji-picker-constants-min-emoji-picker-width);
	}

	.emojiPickerHasTabWrapper_c0e32c .emojiPicker_c0e32c {
		background-color: transparent;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		box-shadow: none;
		flex: 1 1 auto;
		grid-template-rows: auto 1fr auto;
		height: 100%;
		width: auto;
	}

	.categoryList_c0e32c {
		top: 58px;
	}

	.expressionPickerCategoryList_a1e0e0 {
		top: 50px;
	}

	.inspector_aeaaeb {
		background-color: var(--background-secondary-alt);
		border-top: unset;
	}

	.emojiPickerHasTabWrapper_c0e32c .categoryList_c0e32c {
		top: 50px;
	}

	.unicodeShortcut_b9ee0c {
		box-sizing: unset;
		border-top: unset;
	}

	.wrapper__14245 {
		background-color: var(--background-secondary);
	}

	.wrapper__4e6ce {
		background-color: var(--background-tertiary);
	}

	.header_c0e32c {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-low);
		margin: 0 -1px;
		padding: 12px;
		border-bottom: unset;
	}

	.childContainer__91a9d {
		padding: 2px 0
	}

	.clickable__9293f .icon__9293f {
		color: var(--interactive-normal);
	}

	/* channel menus */
	.header__45690 {
		background: var(--background-tertiary);
		border-bottom: 2px solid var(--background-modifier-accent);
	}

	.messagesPopoutWrap__45690 {
		background-color: var(--background-secondary);
		border-radius: 8px;
		max-height: 91vh !important;
	}

	.messageGroupWrapper__45690 {
		border: 1px solid var(--background-tertiary);
		border-radius: 4px;
		-webkit-user-select: none;
		background: var(--background-primary);
		margin-right: unset;
	}

	.searchHeader_f3b986 {
		background: var(--bg-overlay-chat);
		height: 48px;
		padding: 0 20px;
		border: unset;
	}

	.content__49fc1 {
		padding-top: unset;
	}

	.root__49fc1 {
		border: none;
	}

	.rootWithShadow__49fc1 {
		box-shadow: var(--legacy-elevation-border), var(--legacy-elevation-high);
	}


	/* tab bars */
	.item_b3f026 {
		position: relative;
		font-size: 16px;
		line-height: 20px;
		cursor: pointer;
		font-weight: 500;
	}

	.tab_f8303a {
		display: flex;
		flex-shrink: 1;
		align-items: center;
		gap: var(--spacing-8);
		padding-bottom: var(--spacing-12);
	}

	.brand_b3f026.item_b3f026:hover, .themed_b3f026.item_b3f026:hover {
		color: var(--interactive-hover);
	}

	.top_b3f026 .item_b3f026 {
		margin-bottom: unset;
	}

	.top_b3f026 .item_b3f026.selected_b3f026 {
		cursor: default;
		color: var(--interactive-active);
	}

	/* header text in DMs */
	.titleWrapper__9293f > .defaultColor__5345c.text-md\/medium_cf4812 {
		text-transform: unset !important;
	}

	/* call background */
	.root_bfe55a {
		background: unset;
	}

	/*buttons*/
	.button__201d5:not(.cta_a3a802, .colorRed__201d5) {
		border: unset;
	}

	.item_b3f026 {
		transition: none !important;
	}

	:is(.sidebar__23e6b) .selected_b3f026.item_b3f026 {
		background: var(--background-modifier-selected) !important;
	}

	:is(.sidebar__23e6b) .side_b3f026 .themed_b3f026.item_b3f026:hover:not(.disabled_b3f026) {
		background-color: var(--background-modifier-hover);
	}

	:is(.sidebar__23e6b) .selected_b3f026.item_b3f026:hover {
		color: var(--text-primary);
	}

	.topPill_b3f026 .item_b3f026 {
		border-radius: 4px;;
		margin: 0 8px;
		padding: 2px 8px;
		min-height: unset;
	}

	.searchBar__35e86 {
		border-bottom: unset;
		box-shadow: var(--elevation-low);
	}

	.searchBar__35e86 .grow__201d5.fullWidth__201d5.sizeSmall__201d5.colorPrimary__201d5.lookFilled__201d5.button__201d5 {
		width: 100%;
		height: 28px;
		min-height: unset;
		overflow: hidden;
		border-radius: 4px;
		background-color: var(--background-tertiary);
		box-shadow: none;

		.contents__201d5 {
			width: 100%;
			color: var(--text-muted);
			text-align: left;
			text-overflow: ellipsis;
			font-size: 14px;
			font-weight: 500;
			line-height: 24px;
			white-space: nowrap;
		}
	}

	.wrapper_f7ecac:not(.popover_c97e55) {
		box-shadow: var(--elevation-stroke);
		background: var(--background-primary);
	}

	.toolbar__9293f {
		gap: unset;
		padding-left: unset;
	}

	.iconBadgeBottom__9293f {
		right: 2px;
		bottom: 0;
		--custom-icon-offset: unset;
	}

	.navButton__08434 {
		border-radius: 4px;
		color: var(--interactive-normal);
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		padding: 2px 8px;
		transition: background-color .1s ease-in-out, color .1s ease-in-out;
	}

	.navButtonActive__08434 {
		color: var(--interactive-active);
		background-color: var(--background-modifier-selected);
	}

	.navButton__08434:hover {
		color: var(--interactive-hover);
		background-color: var(--background-modifier-hover);
	}

	button.button__67645.enabled__67645:hover {
		background-color: var(--background-modifier-selected);
	}

	.container__87bf1.checked__87bf1 {
		border: none;
	}

	button.button__67645, .visual-refresh span.button__67645 {
		transition: none;
	}

	/* mic button */
	.micButtonParent__37e49:hover > button {
		background-color: rgba(0, 0, 0, 0);
	}

	/* search bar(s) */
	.medium_a45028 {
		height: unset;

		.inner_a45028 {
			padding: 1px;

			.input_a45028 {
				padding: 0 8px;
				line-height: 32px;
				margin: 1px;
			}

			.iconLayout_a45028 {
				width: 32px;
				height: 32px;
			}
		}
	}

	.container_a45028 {
		border: none;
		background-color: var(--background-tertiary);
	}

	.search__49676 {
		margin: 0 8px;
	}

	.searchBar__97492 {
		background: var(--bg-overlay-3, var(--background-tertiary));
		padding: 0 2px;
		height: 24px;
		width: 144px;
		border-radius: 4px;
		border: none;
		margin-right: 80px;

		.DraftEditor-root {
			padding: 2px 0;
			line-height: 20px;
		}
	}

	.container__55c99 {
		box-shadow: var(--shadow-border), var(--shadow-high);
		border-radius: 3px;
		border: none;
		background: var(--bg-overlay-3, var(--background-primary));
	}

	.container_fea832 {
		background-color: var(--background-tertiary);
		border-radius: 4px;
		border: none;
	}

	.searchResult__02a39 {
		border: solid 1px var(--background-tertiary);
	}

	/* dropdowns */
	.lookFilled__3f413.select__3f413 {
		background-color: var(--input-background);
		border-color: var(--input-background);
	}

	/* border radius 8 list of offenders */
	.root__49fc1, .container_e45859, .searchBar__5ec2f, .tooltip__382e7, .link__2ea32, .container_a45028, .container__91a9d, .option__56fec {
		border-radius: 4px;
	}

	.button__201d5:not(.cta_a3a802) {
		border-radius: 3px;
	}

	.select__3f413 {
		border: 1px solid transparent;
		cursor: pointer;
		box-sizing: border-box;
		grid-gap: 8px;
		border-radius: 4px;
		min-height: unset;
	}

	.container_f89b2c {
		background-color: var(--opacity-black-8);
		border-color: var(--opacity-black-28);
		min-height: unset;
		border-radius: 3px;
	}

	/* modal footers */
	.footer__49fc1 {
		border-radius: 0 0 5px 5px;
		background-color: var(--modal-footer-background);
	}

	.footerSeparator__49fc1 {
		box-shadow: inset 0 1px 0 hsl(220 calc(1 * 6.522%) 18.039% /.6);
	}

	.footer__5be3e {
		.channelTextArea__74017 {
			box-sizing: border-box;
			width: 100%;
			border-radius: 3px;
			background-color: var(--deprecated-text-input-bg);
			border: 1px solid var(--deprecated-text-input-border);
			-webkit-transition: border-color .2s ease-in-out;
			transition: border-color .2s ease-in-out;
		}
	}

	.addFriend__133bf:hover {
		background: var(--green) !important;
	}

	.member__5d473 {
		max-width: 224px;
	}

	.barButtonAlt__0f481 {
		background: none;

		&:hover {
			background: none;
		}
	}

	.custom-theme-background .container_a99829 {
		border: unset;
	}

	.inlineContainer__74017 {
		box-shadow: inherit;
		background: unset;
		border-color: transparent;
	}

	.inner_a99829 {
		border-radius: 3px;
	}

	.buttons__74017 {
		margin-right: -6px !important;
	}

	.base_c48ade {
		grid-template-areas: "titleBar titleBar titleBar" "notice notice notice" "guildsList channelsList page";
		grid-template-rows: [top] 0px [titlebarEnd] min-content [page] 22px [end];
	}

	.base_c48ade .sidebar_c48ade {
		display: grid;
		grid-template-areas: "guilds sidebar" "guilds panels";
		grid-template-columns: [start] min-content [sidebarStart] unset [end];
		grid-template-rows: [start] 1fr [panelsStart] min-content [end];
		width: 310px !important;
		border-radius: 0;
	}

	.base_c48ade .sidebar_c48ade > .guilds_c48ade {
		grid-area: guilds;
		margin-bottom: 0;
	}

	.base_c48ade .sidebar_c48ade > .sidebarList_c48ade {
		grid-area: sidebar;
		width: 240px;
		--custom-app-panels-height: 0;
	}

	.base_c48ade .sidebar_c48ade > .sidebarResizeHandle_c48ade,
	:root .base_c48ade .sidebar_c48ade:after {
		display: none;
	}

	/* user panel */
	.base_c48ade .sidebar_c48ade > .panels_c48ade {
		grid-area: panels;
		position: static;
		inset: auto;

		.avatar__37e49.wrapper__44b0c {
			width: 32px !important;
			height: 32px !important;

			svg {
				width: 40px;
				height: 40px;
			}
		}

		.panel__5dec7 {
			background-color: var(--background-secondary-alt);
			border-top-left-radius: unset;
			border-top-right-radius: unset;
			border-bottom: unset;
		}
	}

	.toolbar__9293f > .iconWrapper__9293f {
		height: 24px !important;
		width: auto !important;
		margin: 0 8px;

		svg {
			width: 24px;
			height: 24px;
		}
	}

	.avatarWrapper__37e49 {
		padding-left: 2px;
		border-radius: 4px;
		transition: none;

		&:hover {
			background-color: var(--background-modifier-selected);
			color: var(--interactive-hover);
		}
	}

	.avatarWrapper__37e49 .nameTag__37e49 {
		padding-bottom: 4px;
		padding-top: 4px;
	}

	.nameTag__37e49 {
		margin-right: 4px;
	}

	/* style dms correctly (refresh edition) */
	.channel__972a0 {
		.interactive__972a0:active, .interactiveSelected__972a0 {
			background: var(--bg-overlay-selected, var(--background-modifier-selected));
		}

		.interactiveSelected__972a0 .name__20a53 {
			color: var(--interactive-active) !important;
		}

		.interactiveSelected__972a0 .subtext__972a0 {
			color: var(--interactive-active) !important;
		}

		.highlighted__20a53 .subtext__972a0 {
			color: var(--interactive-active);
		}

		.interactive_bf202d:hover {
			color: var(--interactive-hover) !important;
		}

		.interactiveSelected__972a0 .subText__20a53 [data-text-variant="text-xs\/medium"] {
			color: var(--interactive-active) !important;
		}

		&:hover:not(:has(.interactiveSelected__972a0)) .subText__20a53 [data-text-variant="text-xs\/medium"] {
			color: var(--interactive-hover) !important;
		}

		&:hover .interactiveSelected__972a0 .name__20a53 {
			color: var(--interactive-active) !important;
		}

		& .subText__20a53 [data-text-variant="text-xs\/medium"] {
			color: var(--channels-default) !important;
		}

		&:hover:has(.interactiveSelected__972a0) .interactive_bf202d {
			background: var(--background-modifier-selected) !important;
		}

		.interactive__972a0:focus-within {
			background: var(--bg-overlay-selected, var(--background-modifier-selected));
		}
	}

	.base_c48ade .text-sm\/medium__13cf1:not(.title_b6c092, .text_c9d15c, .applicationSublabel_e1ecd3 .text-sm\/medium__13cf1, .lineClamp1__4bd52, .searchFilter_bd8186, .searchAnswer_bd8186) {
		text-transform: uppercase;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: .02em;
		font-family: var(--font-display);
		font-weight: 600;
	}

	.header__56fec {
		text-transform: uppercase;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: .02em;
		font-family: var(--font-display);
		font-weight: 800;
	}

	.h5_b717a1:not(.isEnabled__2666b) {
		color: var(--header-secondary)
	}

	.eyebrow_b717a1 {
		font-family: var(--font-display);
		font-size: 12px;
		line-height: 1.3333333333333333;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .02em;
	}

	/* turn a dot into a divider */
	.dot__9293f {
		width: 1px;
		height: 24px;
		margin: 0 8px;
		flex: 0 0 auto;
		background: var(--background-modifier-accent);
	}

	.sectionDivider__35e86 {
		display: none;
	}

	.privateChannelsHeaderContainer__99e7c {
		display: flex;
		padding: 18px 8px 4px 18px !important;
		height: 40px !important;
	}

	/* markdown things */
	.markup__75297 code {
		line-height: 1.125rem;
		text-indent: 0;
		background: var(--background-secondary) !important;
		border: 1px solid var(--background-tertiary) !important;
	}

	.markup__75297 code.inline {
		font-family: var(--font-code) !important;
	}

	.embedFull__623de code.inline {
		background: var(--background-tertiary) !important;
	}

	/* discord logo */
	.childWrapper__6e9f8 svg {
		height: 30px !important;
		width: 30px !important;
	}

	/* sliders & bars */
	.slider_a562c8 {
		--grabber-size: 16px !important;
		--bar-size: 4px !important;
	}

	.slider_a562c8 .barFill_a562c8 {
		background-color: var(--bg-brand)
	}

	.grabber_a562c8 {
		top: 9px;
		width: 10px;
		height: 24px;
		margin-left: -5px;
		border-radius: 3px;
		background-color: var(--white);
		border: 1px solid var(--border-strong);
		box-shadow: var(--shadow-border), var(--shadow-ledge), var(--shadow-low);
	}

	.slider_a562c8 .grabber_a562c8 {
		margin-top: 13px;
	}

	.bar_a562c8 {
		height: 8px;
	}

	.radioBar__001a7 {
		padding: 10px !important;

		.radioIndicatorGroup__001a7 {

		}

		.info__001a7 {

		}

		circle {
			display: initial;
		}
	}

	/*
		.radioBar__001a7 .radioIndicatorGroup__001a7:before {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 28 28'%3E%3Cpath d='M3 0C1.34326 0 0 1.34277 0 3V21C0 22.6572 1.34326 24 3 24H21C22.6567 24 24 22.6572 24 21V3C24 1.34277 22.6567 0 21 0H3ZM3 1C1.89551 1 1 1.89551 1 3V21C1 22.1045 1.89551 23 3 23H21C22.1045 23 23 22.1045 23 21V3C23 1.89551 22.1045 1 21 1H3Z' stroke='' stroke-width='' fill='%2372767d' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E");
			position: relative
		}
	*/
	/* chat box */
	.scrollerSpacer__36d07 {
		height: 30px;
	}

	.themedBackground__74017 {
		background: var(--bg-overlay-3, var(--channeltextarea-background));
	}

	.formWithLoadedChatInput_f75fb0 {
		padding-left: 16px !important;
		padding-right: 16px !important;

		.channelTextArea_f75fb0 {
			background: var(--background-primary) !important;
		}

		.channelTextArea__74017 {
			border: none;
		}

		.buttons__74017 {
			margin-right: -6px !important;
			gap: unset;
		}

		.spriteContainer__04eed {
			--custom-emoji-sprite-size: 24px !important;
		}

		.lottieIcon__5eb9b {
			height: unset !important;
			width: unset !important;

			.channelAppLauncher_e6e74f & {
				width: 28px !important
			}
		}

		.stackedBars__74017 {
			background: var(--background-secondary);

			&:first-child, &.floatingBars__74017:empty + .stackedBars__74017:nth-child(2) {
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}

			&:not(:last-child) {
				border: none;
			}
		}

		.channelAttachmentArea_b77158 {
			background-color: unset;
		}

		.upload_aa605f {
			background-color: unset;
			background: var(--bg-overlay-5, var(--background-secondary));
			border: unset;
			border-radius: 4px;
			box-shadow: unset;
		}

		.spoilerContainer__54ab5.attachmentContainer__54ab5 .media__41ea0 {
			border-radius: 3px;
		}

		.slateTextArea_ec4baf {
			margin-left: unset;
		}

		.attachButton__0923f {
			height: 40px;
			padding: 10px 16px;
		}

		.attachButtonInner__0923f {
			svg {
				width: 24px;
				height: 24px;
			}
		}
	}

	.channelTextArea__74017 {
		border: unset;
		border-radius: 4px;
	}

	.separator__49fc1 {
		box-shadow: 0 1px 0 0 hsl(240 calc(1 * 5.263%) 7.451% /.3), 0 1px 2px 0 hsl(240 calc(1 * 5.263%) 7.451% /.3);
	}

	.header__49fc1 {
		padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
	}

	.autocompleteAttached__6b0e0 {
		left: 0;
		right: 0;
	}

	.cooldownText_b21699 {
		color: var(--font-primary) !important;
	}

	.base_b88801 {
		left: 16px;
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		resize: none;
		align-items: center;
		color: var(--text-normal);
	}

	/* jump to present bar */
	.jumpToPresentBar__0f481 {
		bottom: 0;
		border-radius: 8px 8px 0 0;
		background-color: var(--background-accent);
		opacity: .95 !important;
		padding-bottom: 4px !important;
		color: var(--white-500);

		.barButtonBase__0f481 {
			padding-left: unset;
			padding: 0 12px;
		}

		.button__201d5 {
			flex: 0 0 auto;
			font-weight: 600;
			position: relative;
			background: unset;
			padding-bottom: 6px;

			&:hover {
				background-color: unset !important;
			}

			.contents__201d5:after {
				content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 16'%3E%3Cpath d='M7 10L12 15 17 10'%3E%3C/path%3E%3C/svg%3E");
				margin-left: 8px;
			}
		}
	}

	.bottomBar__0f481 {
		border: unset;
		padding: unset;
		left: unset;
		right: unset;
		margin: unset;
		width: unset;
		min-width: unset;
		box-shadow: unset;
		min-height: unset;
		box-sizing: unset;
	}

	.barBase__0f481 {
		left: 16px;
		right: 16px;
		min-height: 24px;
		opacity: .95;
		border: unset;
	}

	.embedFull__623de {
		background: var(--background-secondary);
		border-top: unset;
		border-right: unset;
		border-bottom: unset;
	}

	.cardPrimary__73069, .cardPrimary__73069.editable__73069 {
		background: var(--__card-accent-color);
	}

	.sensitivity_ac7648 {
		min-height: 0px;
	}

	/* add emoji button */
	.largeReactionBtn__23977.forceShow__23977 {
		padding: unset;
	}

	.reactionBtn__23977 {
		opacity: 0;
	}

	.reactionBtn__23977:hover {
		background: none;
	}

	/* channel category arrow */
	.mainContent__29444 {
		margin-left: -10px;
	}

	.mainContent__29444 .icon__29444 {
		order: -1;
	}

	.box_f8c98c {
		background-color: var(--background-secondary);
		box-shadow: var(--elevation-low);
		border-radius: 5px;
	}

	.lookLink__201d5.colorLink__201d5 {
		color: var(--text-link);
	}

	/* file embeds */
	.wrapperAudio_cf09d8, .file__0ccae, .container_a8e786 {
		background-color: var(--background-secondary);
		border: 1px solid var(--background-secondary-alt);
		box-shadow: unset;
	}

	.textContainer__4d95d {
		background-color: var(--background-secondary);
		border: 1px solid var(--background-secondary-alt);
	}

	.footer__4d95d {
		background-color: var(--background-secondary);
		border: 1px solid var(--background-secondary-alt);
	}

	.hljs {
		display: block;
		overflow-x: auto;
		padding: .5em;
		border-radius: 4px;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		color: var(--text-normal);
	}

	.colorDefault_c1e9c4.focused_c1e9c4 .caret_c1e9c4, .colorDefault_c1e9c4.focused_c1e9c4 .checkbox_c1e9c4, .colorDefault_c1e9c4.focused_c1e9c4 .radioSelection_c1e9c4, .colorDefault_c1e9c4.focused_c1e9c4 .subtext_c1e9c4, .colorDefault_c1e9c4.focused_c1e9c4 .refreshIcon__001a7 {
		color: var(--white);
		fill: var(--white);
	}

	/* ping icon */
	.lowerBadge_cc5dd2 {
		border: 5px solid var(--background-tertiary);
		border-radius: 50%;
		margin-bottom: -5px;
		margin-right: -5px;
	}

	/* voice channel user count */
	.wrapper__260e1 {
		display: flex;
		align-items: stretch;
		line-height: 20px;
		border-radius: 10px;
		color: var(--channels-default);
		border: none;
	}

	.total__260e1 {
		padding: 0 6px 0 0;
		background-color: var(--background-tertiary);

		&:after {
			left: -8px;
			border-right: 8px solid transparent;
			border-right-color: var(--background-tertiary);
		}
	}

	.users__260e1 {
		padding: 0 8px 0 6px;
		background-color: var(--background-primary);
	}

	.total__260e1, .users__260e1 {
		font-feature-settings: normal;
		font-variant-numeric: normal;
	}

	/* placeholder gray square when moving a server icon */
	.dragInner__87847 {
		background-color: var(--background-primary) !important;
		border: none !important;
	}

	svg.placeholderMask__87847 {
		width: 50px;
		height: 50px;
	}
}

:where(.visual-refresh) .item__001a7, :where(.visual-refresh) .item__001a7[aria-checked=true], :where(.visual-refresh) .itemFilled__001a7[aria-checked=true], :where(.visual-refresh) .radioBar__001a7 {
	border-radius: 5px
}

/*stuff*/
.bar_c38106:not(.systemBar_c38106):not(:has(.channelTabs-trailing)) {
	padding: 0 12px 0 !important;
	height: 50px;
	margin-top: -33px;
}

.bar_c38106 .title_c38106 {
	.guildIcon__85643 {
		display: none;
	}
}

.bar_c38106 .trailing_c38106 {
	top: 51px;
	gap: 8px;
	z-index: 102;
}

.bar_c38106 .channelTabs-trailing .trailing_c38106 {
	top: 44px;
	right: 10px;
}

.channelTabs-trailing .winButtons_c38106 {
	position: absolute;
	top: -53px;
	right: 6px;

	& .winButton_c38106 {
		width: var(--custom-app-top-bar-height);
		height: var(--custom-app-top-bar-height);
		padding-left: 10px;
		padding-right: 10px;
	}
}

#channelTabs-settingsMenu {
	position: relative;
	right: 20px;
}

.container__01ae2 > .container__9293f {
	z-index: 102;
}

.bar_c38106 .trailing_c38106 .iconWrapper__9293f {
	width: 30px;
	height: 30px;
	border-radius: 4px;
}

.bar_c38106 .trailing_c38106 .iconWrapper__9293f .icon__9293f {
	width: 24px;
	height: 24px;
}

.bar_c38106 .trailing_c38106 .iconWrapper__9293f.selected__9293f .icon__9293f {
	opacity: 1;
}

.bar_c38106 .trailing_c38106 .iconWrapper__9293f > svg > foreignObject {
	x: -2px;
	y: -2px;
	mask: none !important;
}

.bar_c38106 .trailing_c38106 .recentsIcon_c99c29:nth-last-child(3) + a {
	display: none;
}

html .bar_c38106 {
	top: 0;
	right: 0;
	z-index: 102;
}

.inviteToolbar__133bf > .clickable__9293f.iconWrapper__9293f {
	right: 70px;
}

.winButtons_c38106 {
	position: absolute;
	gap: unset;
	justify-content: center;
	bottom: 35px;
	left: -12px;
	z-index: 3001;
	-webkit-app-region: no-drag !important;

	.winButton_c38106 {
		top: -4px;
		align-items: center;
		width: 28px;
		height: 22px;
	}
}

.winButtonsWithDivider_c38106:before {
	border: unset;
}

.systemBar_c38106 {
	background-color: var(--background-tertiary);
	min-height: 22px;

	.winButtons_c38106 {
		bottom: 39px;
		left: -84px;
	}
}

.channelTabs-tabContainer div {
	margin-bottom: 0 !important;
}

/* server list */
.base_c48ade .sidebar_c48ade > .guilds_c48ade {
	width: 80px;
	background: var(--background-tertiary);

	.scroller_ef3116 {
		padding-top: 4px;

		ul.stack_dbd263 {
			height: auto !important;
		}
	}

	.guildSeparator__252b6 {
		height: 2px;
	}

	.wrapper__48112 {
		.expandedFolderBackground__48112 {
			left: 15px;
			width: 50px;
			bottom: 4px;
			border-radius: 16px 16px 25px 25px;
			background: var(--background-modifier-accent);
			border: none;
		}

		.folder__48112 {
			margin-left: -5px;
			margin-top: -4px;
		}

		.folderIconWrapper__48112, .folder__48112 {
			width: 50px;
			height: 50px;
			overflow: hidden;
			border-radius: 16px;
			--bg-mod-subtle: rgba(114, 137, 218, 0.4) !important;
		}

		.iconSizeMini_f34534 {
			width: 16px;
			height: 16px;
		}

		.expandedFolderIconWrapper__48112 {
			margin: 0;
			width: 50px;
			height: 50px;

			> svg {
				width: 24px;
				height: 24px;
			}
		}

		.closedFolderIconWrapper__48112 .guildIcon__48112 {
			border-radius: 32px !important;
		}

		gap: 8px !important;
	}

	.listItem__650eb:has(.circleIcon__5bc7e) {
		.circleIconButton__5bc7e {
			border-radius: 50%;
			width: 48px;
			height: 48px;
		}
	}

	.guildsError_e8d03f {
		width: 50px;
		height: 50px;
		background: (rgba(240, 71, 71, .1));
		border-color: var(--red);

		&:hover {
			background: var(--red);
		}
	}

	.unreadMentionsIndicatorBottom_ef3116 {
		margin-left: 4px;
	}

	.mention__3b95d {
		box-sizing: border-box;
		opacity: .9;
		border: unset;
		box-shadow: unset;
	}
}

.sidebar_c48ade:after {
	display: none;
}

.spriteContainer__04eed {
	--custom-emoji-sprite-size: 24px !important;
}
